<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter the Game</title>
    <link rel="stylesheet" href="../static/css/enter.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="game-container">
        <div class="button-box">
            <a href="{{ url_for('game') }}" class="enter-game-btn">ENTER THE GAME</a>
        </div>
    </div>
</body>
</html>
